---
import Layout from "../layouts/Layout.astro";
import { useCloud } from "freestyle-sh";
---

<Layout title="About">
  <main>
    <div class="text-center text-4xl whitespace-pre">
      <h1>About Reilly Vejar</h1>
    </div>
    <p class="text-center font-light whitespace-pre">
      Hello! My name is Reilly. Do you want to play a <a href="game" class="underline text-blue-700">game?</a>
    </p>
  </main>
</Layout>