---
import Layout from "../layouts/Layout.astro";
import { useCloud } from "freestyle-sh";
---

<Layout title="About">
  <main>
    <div class="text-center text-4xl whitespace-pre">
      <h1>Number Game</h1>
    </div>
    <p class="text-center font-light whitespace-pre">
      <input class="text-center" type="number" id="guess" placeholder="Enter number.">
      <br />
      <br />
      <button onclick="makeGuess()" class="text-center bg-slate-200 font-bold p-2">
        Make guess.
      </button>
    </p>
  </main>
  <script>
    function makeGuess() {
        
    }
  </script>
</Layout>